body > main > article {
  height: 75px;
  line-height: 75px;
}

body > main > div:nth-of-type(1){
  height: 150px;
  line-height: 150px;
}

body > main > section > #c, #d {
  height: 125px;
  line-height: 150px;
}

#container{
  display: flex;
  flex-wrap: wrap;
}

body > main > section > #e, #f, #g, #h{
  height: 250px;
  width: 50%;
  line-height: 250px;
  flex-grow: 1;
}

body > main > div:last-of-type {
  height: 80px;
  line-height: 80px;
}

@media only screen and (min-width: 960px){
  body {
    width: 960px;
  }

  body > main > article {
    height: 100px;
    line-height: 100px;
  }

  body > main > div:nth-of-type(1){
    width: 200px;
    height: 600px;
    line-height: 600px;
    float: left;
  }

  #deskcontainer{
    display: flex;
    flex-wrap: wrap;
  }
  
  body > main > section > #c, #d{
    height: 200px;
    width: 380px;
    line-height: 200px;
    flex-grow: 1;
  }
  
  #container {
    display: flex;
    flex-wrap: wrap;
  }

  body > main > section > #e, #f, #g, #h{
    height: 250px;
    width: 25%;
    line-height: 250px;
  }

  body > main > div:last-of-type {
    height: 150px;
    width: 100%;
    line-height: 150px;
  }
}