body > main > article {
  background-color: blue;
}

body > main > div:nth-of-type(1){
  background-color: orange;
}

body > main > div:nth-of-type(2){
  background-color: aqua;
}

body > main > div:nth-of-type(3){
  background-color: yellow;
}

body > main > section > div:nth-of-type(1){
  background-color: green;
}

body > main > section > div:nth-of-type(2){
  background-color: red;
}

body > main > section > div:nth-of-type(3){
  background-color: salmon;
}

body > main > section > div:nth-of-type(4){
  background-color: violet;
}

body > main > div:nth-of-type(4){
  background-color: slategray;
}

@media only screen and (min-width: 960px){
  body > main > article {
    background-color: red;
  }
  
  body > main > div:nth-of-type(1){
    background-color: aqua;
  }
  
  body > main > #twosquares > div{
    background-color: green;
  }
  
  body > main > #doubletop > div {
    background-color: orange;
  }
  
  body > main > #doublebottom > div {
    background-color: blue;
  }
  
  body > main > div:last-of-type {
    background-color: yellow;
  }
}